.Home {
  max-width: 100vw;
  min-height: 100vh;
  height: auto;

  .Logo {
    position: absolute;
    left: 64px;
  }
  .Content {
    max-width: 100%;
    padding: 72px 48px;
  }
}
* {
  box-sizing: border-box;
}
:root {
  // overflow-x: hidden;
}
